#about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  background-color: white;
  
  div {
    background-color: white;
    width: 45vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      padding: 0 20px;
      font-size: 100px;
      align-self: start;
      text-align: left;
      color: black;
    }

    p {
      padding: 10px 20px;
      font-size: 20px;
      text-align: left;
      color: #2e2e2e;
    }

    a {
      align-self: start;
      margin: 20px;
      color: white;
    }

    img {
      width: 80%;
      height: auto;
      object-fit: cover;
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 1400px) {
    div {
      h1 {
        font-size: 70px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;

    div {
      h2 {
        font-size: 50px;
      }

      p {
        font-size: 16px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 50px;

    div {
      width: 90vw;
      height: auto;

      h2 {
        font-size: 50px;
      }

      p {
        font-size: 16px;
      }

      img {
        width: 60%;
        height: auto;
      }
    }
  }

  @media screen and (max-width: 400px) {
    div {
      gap: 10px;

      h2 {
        font-size: 40px;
        padding: 0 10px;
      }

      p {
        padding: 0 10px;
      }

      .btn {
        margin: 0 10px;
        padding: 10px 20px;
      }
    }
  }
}