header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding: 50px; */
  background-color: white;

  div {
    width: 45vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      padding: 0 20px;
      font-size: 70px;
      text-align: left;
    }

    p {
      padding: 10px 20px;
      font-size: 20px;
      text-align: left;
      color: #2e2e2e;
    }

    a {
      align-self: start;
      margin: 20px;
    }

    img {
      width: 80%;
      height: auto;
      object-fit: cover;
      margin-top: 20px;
      z-index: -100;
    }
  }

  @media screen and (max-width: 1400px) {
    div {
      h1 {
        font-size: 70px;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column-reverse;

    div {
      width: 90%;
      height: fit-content;
      padding: 20px 0px;
      z-index: 1;
      h1 {
        font-size: 50px;
      }

      p {
        font-size: 16px;
      }
    }
    .header-image {
      width: 50%;
      position: relative;
      z-index: 1;
      img {
        width: 100%;
        z-index: -100;
      }
    }
  }

  @media screen and (max-width: 800px) {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 50px;

    div {
      position: relative;
      width: 90vw;
      height: auto;

      h1 {
        font-size: 50px;
      }

      p {
        font-size: 16px;
      }

      img {
        width: 60%;
        height: auto;
      }
    }
  }

  @media screen and (max-width: 400px) {
    div {
      gap: 10px;

      h1 {
        font-size: 40px;
        padding: 0 10px;
      }

      p {
        padding: 0 10px;
      }

      .btn {
        margin: 0 10px;
        padding: 10px 20px;
      }
    }
  }
}
