.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  main {
    overflow: hidden;
    margin: 10px;
    position: relative;
    background-color: #220e4c79;
    height: 80vh;
    width: 90vw;
    border-radius: 50px;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    .left {
      box-shadow: 0 0 200px 200px #8e229c59;
      position: absolute;
      top: 50%;
      left: 0px;
    }
    .right {
      box-shadow: 0 0 200px 200px #8e229c5b;
      position: absolute;
      top: 50%;
      right: 0px;
    }
    div {
      width: 70%;
      min-width: 300px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      color: white;
      h1 {
        font-size: 4vmax;
      }
      p {
        letter-spacing: 1px;
      }

      button {
        background-color: #e100ff;
        padding: 10px 20px;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        transition: all 0.2s;

        &:hover {
          background-color: white;
          color: #e100ff;
        }
      } 
    }
  }
}
