header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 4vmax;
  padding: 2vw;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }

  #text-Box {
    width: 50%;
    align-items: start;
    h1 {
      font-size: 4vmax;
      line-height: 4vmax;
      margin: 10px 0;
    }
    h2 {
      font-size: 2vmax;

      mix-blend-mode: difference;
    }
    p {
      font-size: medium;
      text-align: justify;
    }
  }
  #imageBox {
    width: 40%;
    img {
      overflow: hidden;
      border-radius: 50%;
      aspect-ratio: 1/1;
      transition: all 0.5s;
      width: 90%;
    }
    img:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 650px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    #text-Box {
      width: 90%;
      h1{
        font-size: xx-large;
    }
    h2{
        font-size: x-large;
      }
    }
    #imageBox {
      width: 70%;
    }
  }
}
