header {
  background: url("../images/header\ image.png") no-repeat center/cover;
  height: 100vh;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  nav {
    justify-self: start;
    position: absolute;
    top: 10px;
    left: 10px;
    img {
      width: 100px;
      height: 100px;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    h1 {
      font-size: 4vmax;
    }
    p {
      letter-spacing: 1px;
    }
    button {
      margin: 20px;
    }
  }
}
