footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(../images/background.png); */
  height: 100vh;
  justify-content: center;
  gap: 50px !important;
  h1 {
    font-size: 5vmax;
    text-align: center;
    text-transform: uppercase;
    color: #3c60fc;
  }
  p {
    text-align: center;
  }
  span {
    display: flex;
    gap: 30px;
    justify-content: center;
    i {
        color: #3c60fc;
        font-size: 30px !important;
    }
  }
}
