footer {
  width: 100%;
  overflow: hidden; /* Ensure overflow is hidden */
  position: relative;
  height: 17vw;

  h1 {
    font-size: min(17vw, 200px);
    color: #ff6100;
    position: absolute;
    bottom: 0;
    white-space: nowrap;
    animation: scroll-top-left 200s linear infinite;
    /* Add these to prevent layout shifting */
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
}
