#thumbnails {
  overflow: hidden; /* Hide overflow */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#thumbnails main {
  width: 100% !important;
  display: flex;
  gap: 20px;
  width: max-content; /* Let content expand */
}

#thumbnails img {
  height: 200px;
  flex-shrink: 0; /* Prevent shrinking */
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(89, 89, 89, 0.5);
}
#thumbnails .main-1 {
  animation: scroll-top-left 50s linear infinite;
  justify-content: start;
}


#thumbnails .main-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 80%;
  h1 {
    color: transparent;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    font-size: 15vmax;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #ff6100;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100vw;
    overflow-x: hidden;
    text-wrap: nowrap;
  }

  .sub-box {
    background: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px 50px;
    overflow: hidden;
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      z-index: +5;
      box-shadow: inset 90px 0 60px rgb(0, 0, 0),
        inset -90px 0 60px rgb(0, 0, 0);
    }

    img {
      animation: scroll-top-mini 5s linear infinite;
      width: 60px;
      aspect-ratio: 1/1;
      height: 60px;
      margin: 10px 20px;
      position: relative;
      z-index: -1;
    }
  }
}

@media screen and (max-width: 768px) {
  #thumbnails .main-1 {
    animation: scroll-top-left-mobile 40s linear infinite;
  }

  

  #thumbnails .main-3 .sub-box {
    width: 100% !important;
    gap: 10px !important;
    padding: 10px !important;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      z-index: +5;
      box-shadow: inset 30px 0 30px rgb(0, 0, 0),
        inset -30px 0 30px rgb(0, 0, 0);
    }
  }

  #thumbnails .main-3 img {
    height: 50px !important;
    width: 50px !important;
    flex-shrink: 0; /* Prevent shrinking */
    margin: 10px !important;
    animation: scroll-top-mini-mobile 13s linear infinite !important;
  }
}

/* Animation: Moves left, then resets invisibly */
@keyframes scroll-top-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-top-left-mobile {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-700%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-top-mini {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes scroll-top-mini-mobile {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-750%);
  }
  100% {
    transform: translateX(0%);
  }
}
