.SatisfiedClient {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
    h1{
        font-size: 5vmax;
    }

    >div {
            background-color: white;
            padding: 50px 20px;
            min-width: 300px;
            max-width: 20vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;
            font-size: 2vmax;
            border: 2px solid rgb(237, 237, 237);
            padding: 2vw;
            gap: 20px;


            img {
                    width: 50%;
                    border-radius: 500px;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                    border: 2px solid rgb(237, 237, 237);
            }

            p {
                    font-size: medium;
                    text-align: justify;
                    margin: 10px;
            }

            .starBox {
                    display: flex;
                    gap: 2px;
                    justify-content: center;
                    padding: 0;

                    span {
                            background-color: rgb(255, 247, 0);
                            height: 2vmax;
                            width: 2vmax;
                            aspect-ratio: 1/1;
                            padding: 0;
                            margin: 0;
                            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

                    }

            }
    }
}