header {
  background-color: black;
  color: white;
  height: 100vh;
  background: url("../images/header-image.png") no-repeat center/cover;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3vw;
    height: 15%;
    img {
      width: 100px;
    }
    #nav-icon {
      width: 30px;
      display: none;
    }
    ul {
      display: flex;
      gap: 40px;
      list-style: none;
      cursor: pointer;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  @media screen and (max-width: 550px) {
    #nav-icon {
      display: block !important;
    }
    ul {
      display: none !important;
      /* display: flex !important; */
      flex-direction: column;
      align-items: center;
      gap: 10px;
      position: absolute;
      top: 100px;
      right: 0px;
      background-color: gray;
      padding:20px 40px;
      border-radius: 10px;
      width: 150px;
    }
  }

  main {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    h1 {
      font-size: 6vmax;
    }
    p {
      padding: 15px;
      letter-spacing: 1.5px;
    }
    span {
      a {
        background-color: white;
        color: black;
        text-decoration: none;
      }
    }
  }
}
