header {
  padding: 0 3vw;
  height: 95lvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 

  div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: -20px;
    width: 100%;
    align-items: left;
    padding-top: 0vw;
    z-index: -1;
    height: auto;
    h1 {
      color: var(--blue);
      text-transform: uppercase;
      font-size: 5vmax;
      line-height: 0.9;
      position: relative;
      z-index: 11;
    }
    h2 {
      text-transform: uppercase;
      font-size: 2.5vmax;
      line-height: 0.9;
      position: relative;
      z-index: 12;
      font-weight: 300;
    }
    a {
      background-color: transparent;
      color: white;
      text-decoration: none;
      padding: 15px 20px;
      margin: 20px 0;
      display: flex;
      gap: 10px;
      align-items: center;
      border: 2px solid white;
      border-radius: 100px;

      position: relative;
      z-index: 11;
    }
    span {
      display: flex;
      gap: 30px;
      justify-content: start;
      i {
        color: #000000;
        font-size: 40px !important;
      }
    }
  }
  img {
    width: 80%;
    min-width: 300px;
    object-fit: cover;
  }
}

.circle {
  height: 60vw;
  width: 60vw;
  border-radius: 50%;
  background-color: var(--lowblue);
  position: absolute;
  top: -500px;
  left: -500px;
  z-index: 10;
  filter: blur(500px);
}

@media screen and (max-width: 715px) {
  header {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    div {
      gap: -10px;
      padding-top: 30px;
      h1 {
        font-size: 7vmax;
      }
      h2 {
        font-size: 4vmax;
      }
    }
  }
}
