.main-work {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  color: white;
  padding: 0vw;
}
img {
  width: 45%;
}

.work2 {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
  h1{
    font-size: xx-large;
  }
  p {
    font-size: 15px;
    margin: 10px 0;
  }
  div {
    display: flex;
    li {
      font-size: 15px;
      margin: 10px;
      list-style: none;
      display: flex;
      gap: 10px;
      align-items: center;
      i {
        color: var(--blue);
        font-size: 20px;
      }
    }
  }
  .button-section {
    display: flex;
    flex-direction: column;
    align-items: end;
    img {
      width: 150px;
    }
    a {
      background-color: transparent;
      color: white;
      text-decoration: none;
      padding: 15px 20px;
      margin: 20px 0;
      display: flex;
      gap: 10px;
      align-items: center;
      border-radius: 100px;
      position: relative;
      z-index: 11;
      align-self: end;
      width: min-content;
    }
  }
}

@media screen and (max-width: 715px) {
  .main-work {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: white;
    gap: 20px;
    padding: 20px;
  }

  .work {
    width: 100%;
    .sm {
      width: 47%;
    }
  }
  .work2 {
    width: 100%;
  }
}
