@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    flex-wrap: wrap;
    > span {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 50px;
        font-family: "Raleway", sans-serif;
        color: orange;
      }
      p {
        letter-spacing: 1px;
        color: rgb(139, 139, 139);
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .section3 {
    margin-top: 30px;
    img {
      width: 90%;
    }
    div {
      span {
        h3 {
          font-size: 30px !important;
        }
      }
    }
  }
}
