.section4 {
  padding: 5vw;

  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    p {
        text-align: center;
        letter-spacing: 2px;
        color: rgb(100, 100, 100);
    }    
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    gap: 10px;
    flex-wrap: wrap;
    img{
        height: 20vmax;    
    }
  }
}
