.challenges {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6vw 2vw;

  .top {
    font-size: 3vmax;
    width: 50vw;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    p {
      font-size: 1rem;
      border: 1px solid #5379F6;
      color: #5379F6;
      border-radius: 10px;
      margin: 10px;
      padding: 10px 20px;
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 29px;
    flex-wrap: wrap;

    div {
      position: relative;
      border: 1px solid #58585850;
      margin-top: 50px;
      padding: 80px 10px;
      width: 30%;
      min-width: 300px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      text-align: center;
      transition: all 0.5s;
      -webkit-box-shadow: 1.5px 1.5px 5px .1px #282828;
      -moz-box-shadow: 1.5px 1.5px 5px .1px #282828;
      box-shadow: 1.5px 1.5px 5px .1px #282828;

      img {
        width: 40%;
        transition: all 0.5s;
        filter: saturate(0) brightness(3);
      }

      i {
        position: absolute;
        top: 20px;
        left: 20px;
        border: 2px solid #5379F6;
        color: #5379F6;
        border-radius: 50%;
        padding: 10px;
        width: 50px;
        height: 50px;
        font-size: 20px;
        aspect-ratio: 1/1 !important;
        transition: all 0.5s;
      }
    }
    div:hover {
      border: 1px solid #585858;
      img {
        scale: 1.05;
      }
    }
  }
}
